<p id="notice"><%= notice %></p>

<h1>Member Details</h1>

<p>
  <b>Name:</b>
  <%= @user.name %> <br />
  <b>Member ID:</b>
  <%= @user.member_id %> <br />
  <b>Email Address:</b>
  <%= @user.email %>
</p>
	
<p>
	<b>Leagues participating in:</b> <br />
	<% for l in @leagues %>
		<%= link_to l.game, l %> (<%= l.semester %> <%= l.year %>)
			Score: <%= Ranking.where(:user_id => @user.id, :league_id => l.id)[0].ranking %>
		<%= link_to "Remove from league", remove_from_league_user_path(:lid => l.id) %> <br />
	<% end %>
</p>
	
<p>
	<b>Enter another league:</b> <br />
	<% for l in @other_leagues %>
		<%= link_to l.game, l %> (<%= l.semester %> <%= l.year %>) 
		<%= link_to "Join league", join_league_user_path(:lid => l.id) %> <br />
	<% end %>
</p>
	

<br /><br /><br />

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Remove', @user, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back', users_path %>

