<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<%= stylesheet_link_tag :all %>
<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>
</head>
<body>
<!-- start header -->
<div id="logo">
	<p>League Management System</p>
	<%=image_tag "logo.png", :height => "55px"%>
</div>
<div id="menu">
	<ul>
		<li class="current_page_item"><%= link_to "Dashboard", root_path %></li>
		<li><%= link_to "Leagues", :controller => "leagues", :action => "index" %></li>
		<li><%= link_to "Users", :controller => "users", :action => "index" %></li>
	</ul>
</div>
<!-- end header -->
<!-- start page -->
<div id="page">
	<div id="page-bg" style="min-height:500px">
		<%= yield %>
		<div style="clear: both;">&nbsp;</div>
	</div>
</div>
<!-- end page -->
<div id="footer">

</div>
</body>
</html>
